@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); 

.imagen-carrossel-um {
    object-fit: cover;
    object-position: 0 90%;
    height:  400px;
}

.imagen-carrossel-dois {
    object-fit: cover;
    height:  400px;
}
.fonte-titulo {
    font-family: 'Pacifico', cursive;
}

.cor-especial {
    color: darkred;
}

.botao-cor-especial {
    background-color: darkred;
    color: white;
}

.borda-cor-especial {
    border-color: darkred;
}

.card-largura {
    width: 18rem;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}

.row {
    justify-content: center;
    gap: 5rem;
}

